{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<div class="campaign-block">      
   <div class="campaign-block-inner">
      <div class="image lightGallery">
        {{ product.field_campaign_images }}
        {% if video_link %}
          <a class="video-link popup-video" href="{{ video_link }}"><i class="fa fa-video-camera"></i></a>
        {% endif %}
        <div class="funded">
          <div class="progress">
            <div class="progress-bar" data-progress-animation="{{funded}}%">
            </div>
          </div>
        </div>
        <a class="action-donate" href="{{ product_url }}">{{ 'Donate now'|t }}</a>
      </div>
      <div class="campaign-content">
        <div class="content-raised clearfix">
          <div class="raised">
            <span class="title">{{'Current'|t}}</span>
            <span class="value">{{raised}}</span>
          </div> 
          <div class="funded">
            <span>{{ funded_label }}%</span>
          </div>
          <div class="goal">
            <span class="title">{{'Target'|t}}</span>
            <span class="value">{{product.field_campaign_goal}}</span>
          </div> 
        </div>

        <div class="content-inner">
          <h4 class="title"><a href="{{ product_url }}" rel="bookmark">{{ title }}</a> </h4> 
          <div class="summary"> {{product.body}}</div> 
        </div>   
        
        <div class="content-action">
          <span class="days">{{ days_left }} {{'Days to go'|t}} </span> - <span>{{ funded_label }}% {{'Funded'}}</span>
        </div> 
      </div>
   </div>
</div>
        